#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: block;
  margin: 10px auto;
}

.blackText {
  color: black;
  font-family: Poppins;
  max-width: 800px;
  overflow: auto;
}

.red {
  color: red;
  font-size: 14px;
  font-family: Poppins;
}

.json-view {
  font-size: 12px;
  text-align: start;
}